.billing-cycle-padding {
    padding-left: 70px;
}

/* .gateway-checked {
    border-color: #1062FEFF !important;
    border-bottom: 2px solid #1062FEFF !important;
    background-color: rgb(247, 247, 248);
} */